// ---------- color palette ----------
$white: #fff;
$black: #000;
$naivy: #001e4b;
$dark-gray: #2f2f38;
$pale-gray: #878787;
$pale-blue: #b3b5d5;
$light-gray: #ebebeb;
$purple: #491de9;

// ---------- mediaQuery mixin ----------
@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin tabletAndPhone {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// ---------- html body ----------
html {
  height: 100%;
  width: 100%;
  min-width: 360px;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  color: $white;
  font: 1.6rem "Yrsa", serif;
  font-weight: 300;
  letter-spacing: 0.3rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $pale-blue;
  background-image: url("../images/background_large.jpg");
  background-size: cover;
  background-position: 100% 0;

  &.body_light {
    width: auto;
    height: auto;
    background-color: $white;
    background-image: none;
    color: $dark-gray;
  }
}

// ----- style reset -----
h1,
h2,
h3 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

dl,
dt,
dd,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  list-style: none;
}

// ----- navigation -----
nav {
  position: fixed;
  top: 0;
  left: 20px;
  width: 190px;
  height: 210px;
  background-color: rgba($color: $naivy, $alpha: 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 999;

  &.nav_light {
    background-image: url("../images/background_nav.jpg");
    background-size: cover;
    background-position: 100% 0;
    background-blend-mode: hard-light;

    @include tabletAndPhone {
      position: absolute;
    }
  }

  h1 {
    -webkit-margin-before: 1.9rem;
    margin-block-start: 1.9rem;
    -webkit-margin-start: 2rem;
    margin-inline-start: 2rem;
    font-size: 2.6rem;
  }

  ul {
    -webkit-margin-before: 1.4rem;
    margin-block-start: 1.4rem;
    -webkit-margin-after: 1.4rem;
    margin-block-end: 1.4rem;
    -webkit-padding-start: 2rem;
    padding-inline-start: 2rem;

    li {
      padding: 0.7rem 0;

      a {
        position: relative;
        color: $white;
        letter-spacing: 0.4rem;
        text-decoration: none;

        &::after {
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $white;
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform 0.2s;
        }

        &:hover::after {
          transform: scale(1, 1);
        }
      }
    }
  }
}

// ----- main -----
main {
  width: calc(100% - 40px);
  height: auto;
  padding: 0 20px;

  @include tabletAndPhone {
    padding: 230px 20px 0px;
  }
}

// ----- article -----
article {
  width: calc(100% - 210px);
  padding-left: 210px;

  @include tablet {
    width: 80%;
    height: calc(100% - 80px);
    padding: 40px 10%;
  }

  @include phone {
    width: 90%;
    height: calc(100% - 80px);
    padding: 40px 5%;
  }
}

// ----- section -----
section {
  width: calc(100% - 40px);
  max-width: 1100px;
  margin: 50px 20px 70px;
  border-bottom: solid 1px;
  opacity: 0;
  -webkit-animation: fadein 1.6s ease forwards;
  animation: fadein 1.6s ease forwards;

  @include tabletAndPhone {
    width: 100%;
    margin: 0px;
  }

  @-webkit-keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

// ----- page title -----
.title {
  color: $dark-gray;
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: 1.2rem;
  line-height: 4.2rem;
  margin: 0px;
  text-align: right;
  border-bottom: solid 1px;
}

// ----- about page -----
.profile {
  margin: 50px 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.information {
  width: 280px;

  h3 {
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 1.3rem;
    padding: 0 0.7rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0.9rem 0;
    padding: 0 0.7rem;

    &.detail {
      font-weight: 400;
    }
  }
}

.avatar {
  position: relative;
  width: 50%;
  min-width: 280px;
  height: 271px;

  @include phone {
    width: 100%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.history {
  h3 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 1rem;
    margin-bottom: 0.9rem;
    padding: 0 0.7rem;
  }

  dl {
    line-height: 2.6rem;
    padding-left: 0.7rem;

    dt {
      float: left;
      color: $pale-gray;
      padding: 0 0.7rem;
    }

    dd {
      font-size: 1.4rem;
      margin-left: 6rem;
    }

    dt,
    dd {
      margin-bottom: 0.4rem;
    }
  }
}

.skill {
  margin: 50px 0;

  h3 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 1rem;
    margin-bottom: 0.2rem;
    padding: 0 0.7rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 0.5rem;
    margin-top: 1.6rem;
    padding-left: 1.3rem;
  }

  dl {
    display: inline-block;
    width: 260px;
    line-height: 3rem;
    margin-right: 1.6rem;
    margin-left: 0.6rem;

    dt,
    dd {
      margin-top: 0.6em;
    }

    dt {
      width: 150px;
      float: left;
      font-size: 1.4rem;
      letter-spacing: 0.3rem;
      padding-left: 0.7rem;
    }

    dd {
      position: relative;
      margin-left: 150px;
      color: $dark-gray;

      &::before {
        content: "★★★★★";
        position: absolute;
        top: 0;
        color: $light-gray;
        z-index: -1;
      }
    }
  }
}

// ----- personal work page -----

.image {
  width: 100%;
  margin-top: 85px;
  background-color: $pale-gray;

  a {
    display: block;
    text-decoration: none;

    img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      transition: 0.6s ease;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}

.text {
  h2 {
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.8rem;
    margin: 2.4rem 0 1rem;

    a {
      font-size: 1.4rem;
      letter-spacing: 0.4rem;
      color: $purple;
    }
  }

  p {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    line-height: 2.4rem;

    &.outline {
      font-size: 1.2rem;
      letter-spacing: 0.6rem;
      margin: 2.4rem 0;
    }

    &.design {
      font-weight: 300;
      font-size: 1.2rem;
      text-align: right;
      letter-spacing: 0.6rem;
      margin: 1.2rem 0;

      a {
        color: $purple;
        text-decoration: none;
        border-bottom: solid 1px;

        &:hover {
          color: $pale-blue;
        }
      }
    }
  }
}

// ----- sns link -----
.sns_link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 65px;
  height: 25px;

  @include tabletAndPhone {
    position: absolute;
    top: 20px;
    left: calc(100% - 85px);
  }

  > ul > li {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 0 2px;

    > a > span > svg:hover {
      opacity: 0.3;
      transition: 0.4s;
    }
  }
}
