@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

dl,
dt,
dd,
ol,
ul,
li {
  list-style: none; }

html {
  height: 100%;
  width: 100%;
  min-width: 360px;
  font-size: 62.5%; }

body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font: 1.6rem "Yrsa", serif;
  font-weight: 300;
  letter-spacing: 0.3rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #b3b5d5;
  background-image: url("../images/background_large.jpg");
  background-size: cover;
  background-position: 100% 0; }
  body.body_light {
    width: auto;
    height: auto;
    background-color: #fff;
    background-image: none;
    color: #2f2f38; }

nav {
  position: fixed;
  top: 0;
  left: 20px;
  width: 190px;
  height: 210px;
  background-color: rgba(0, 30, 75, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 999; }
  nav.nav_light {
    background-image: url("../images/background_nav.jpg");
    background-size: cover;
    background-position: 100% 0;
    background-blend-mode: hard-light; }
    @media screen and (max-width: 1024px) {
      nav.nav_light {
        position: absolute; } }
  nav h1 {
    -webkit-margin-before: 1.9rem;
    margin-block-start: 1.9rem;
    -webkit-margin-start: 2rem;
    margin-inline-start: 2rem;
    font-size: 2.6rem; }
  nav ul {
    -webkit-margin-before: 1.4rem;
    margin-block-start: 1.4rem;
    -webkit-margin-after: 1.4rem;
    margin-block-end: 1.4rem;
    -webkit-padding-start: 2rem;
    padding-inline-start: 2rem; }
    nav ul li {
      padding: 0.7rem 0; }
      nav ul li a {
        position: relative;
        color: #fff;
        letter-spacing: 0.4rem;
        text-decoration: none; }
        nav ul li a::after {
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #fff;
          transform: scale(0, 1);
          transform-origin: left top;
          transition: transform 0.2s; }
        nav ul li a:hover::after {
          transform: scale(1, 1); }

main {
  width: calc(100% - 40px);
  height: auto;
  padding: 0 20px; }
  @media screen and (max-width: 1024px) {
    main {
      padding: 230px 20px 0px; } }

article {
  width: calc(100% - 210px);
  padding-left: 210px; }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    article {
      width: 80%;
      height: calc(100% - 80px);
      padding: 40px 10%; } }
  @media screen and (max-width: 767px) {
    article {
      width: 90%;
      height: calc(100% - 80px);
      padding: 40px 5%; } }

section {
  width: calc(100% - 40px);
  max-width: 1100px;
  margin: 50px 20px 70px;
  border-bottom: solid 1px;
  opacity: 0;
  -webkit-animation: fadein 1.6s ease forwards;
  animation: fadein 1.6s ease forwards; }
  @media screen and (max-width: 1024px) {
    section {
      width: 100%;
      margin: 0px; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.title {
  color: #2f2f38;
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: 1.2rem;
  line-height: 4.2rem;
  margin: 0px;
  text-align: right;
  border-bottom: solid 1px; }

.profile {
  margin: 50px 0px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.information {
  width: 280px; }
  .information h3 {
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 1.3rem;
    padding: 0 0.7rem; }
  .information p {
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin: 0.9rem 0;
    padding: 0 0.7rem; }
    .information p.detail {
      font-weight: 400; }

.avatar {
  position: relative;
  width: 50%;
  min-width: 280px;
  height: 271px; }
  @media screen and (max-width: 767px) {
    .avatar {
      width: 100%; } }
  .avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.history h3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 1rem;
  margin-bottom: 0.9rem;
  padding: 0 0.7rem; }

.history dl {
  line-height: 2.6rem;
  padding-left: 0.7rem; }
  .history dl dt {
    float: left;
    color: #878787;
    padding: 0 0.7rem; }
  .history dl dd {
    font-size: 1.4rem;
    margin-left: 6rem; }
  .history dl dt,
  .history dl dd {
    margin-bottom: 0.4rem; }

.skill {
  margin: 50px 0; }
  .skill h3 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 1rem;
    margin-bottom: 0.2rem;
    padding: 0 0.7rem; }
  .skill p {
    font-size: 1.2rem;
    line-height: 2.4rem;
    letter-spacing: 0.5rem;
    margin-top: 1.6rem;
    padding-left: 1.3rem; }
  .skill dl {
    display: inline-block;
    width: 260px;
    line-height: 3rem;
    margin-right: 1.6rem;
    margin-left: 0.6rem; }
    .skill dl dt,
    .skill dl dd {
      margin-top: 0.6em; }
    .skill dl dt {
      width: 150px;
      float: left;
      font-size: 1.4rem;
      letter-spacing: 0.3rem;
      padding-left: 0.7rem; }
    .skill dl dd {
      position: relative;
      margin-left: 150px;
      color: #2f2f38; }
      .skill dl dd::before {
        content: "★★★★★";
        position: absolute;
        top: 0;
        color: #ebebeb;
        z-index: -1; }

.image {
  width: 100%;
  margin-top: 85px;
  background-color: #878787; }
  .image a {
    display: block;
    text-decoration: none; }
    .image a img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      transition: 0.6s ease; }
      .image a img:hover {
        opacity: 0.3; }

.text h2 {
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0.8rem;
  margin: 2.4rem 0 1rem; }
  .text h2 a {
    font-size: 1.4rem;
    letter-spacing: 0.4rem;
    color: #491de9;
    text-decoration: none;
    border-bottom: solid 1px; }
    .text h2 a:hover {
      color: #b3b5d5; }

.text p {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  line-height: 2.4rem; }
  .text p.outline {
    font-size: 1.2rem;
    letter-spacing: 0.6rem;
    margin: 2.4rem 0; }
  .text p.design {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: right;
    letter-spacing: 0.6rem;
    margin: 1.2rem 0; }
    .text p.design a {
      color: #491de9;
      text-decoration: none;
      border-bottom: solid 1px; }
      .text p.design a:hover {
        color: #b3b5d5; }

.sns_link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 65px;
  height: 25px; }
  @media screen and (max-width: 1024px) {
    .sns_link {
      position: absolute;
      top: 20px;
      left: calc(100% - 85px); } }
  .sns_link ul li {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 0 2px; }
    .sns_link ul li a span svg:hover {
      opacity: 0.3;
      transition: 0.4s; }
